<a href="https://colab.research.google.com/github/Poredaka1020/Projects_Data_Science/blob/main/Projet_Regression_Lineaire.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Note**: pour ce projet, nous allons utiliser le jeu de données finales (Ames_Housing) que nous avons nettoyé sur les sections précendentes.

**Objectif**: création d'un modèle de régression linéaire, l'entraîner sur les données avec les paramètres optimaux en utilisant **Grid Search**, puis d'évaluer les capacités du modèle sur un ensemble de test.

# Importations

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Données

In [ ]:
# LECTURE CSV à éxécuter

# lecture à partir de Github pour pouvoir éxécuter le notebook sans se soucier d'importer le fichier csv
url = 'https://raw.githubusercontent.com/moncoachdata/MasterClass_DS_ML/main/AMES_Final_DF.csv'
df = pd.read_csv(url)

# Sinon lecture classique en important sur Google Colab ou depuis le chemin exact
# df = pd.read_csv("AMES_Final_DF.csv")

### Une petite statistique descriptive

In [ ]:
df.head()

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,141.0,31770,6,5,1960,1960,112.0,639.0,0.0,441.0,...,0,0,0,0,1,0,0,0,1,0
1,80.0,11622,5,6,1961,1961,0.0,468.0,144.0,270.0,...,0,0,0,0,1,0,0,0,1,0
2,81.0,14267,6,6,1958,1958,108.0,923.0,0.0,406.0,...,0,0,0,0,1,0,0,0,1,0
3,93.0,11160,7,5,1968,1968,0.0,1065.0,0.0,1045.0,...,0,0,0,0,1,0,0,0,1,0
4,74.0,13830,5,5,1997,1998,0.0,791.0,0.0,137.0,...,0,0,0,0,1,0,0,0,1,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2925 entries, 0 to 2924
Columns: 274 entries, Lot Frontage to Sale Condition_Partial
dtypes: float64(11), int64(263)
memory usage: 6.1 MB

In [ ]:
df.describe()

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
count,2925.000000,2925.000000,2925.000000,2925.000000,2925.000000,2925.000000,2925.000000,2925.000000,2925.000000,2925.000000,...,2925.000000,2925.000000,2925.000000,2925.000000,2925.000000,2925.000000,2925.000000,2925.000000,2925.000000,2925.000000
mean,69.683099,10109.861538,6.091624,5.563761,1971.323761,1984.229060,100.318632,438.974359,49.790427,558.959316,...,0.002735,0.080684,0.002393,0.000342,0.866325,0.004103,0.007863,0.015726,0.824615,0.082735
std,21.344161,7785.509739,1.406386,1.112262,30.228826,20.857822,176.667803,439.426274,169.274143,439.729905,...,0.052235,0.272395,0.048870,0.018490,0.340361,0.063931,0.088341,0.124437,0.380361,0.275528
min,0.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,60.000000,7438.000000,5.000000,5.000000,1954.000000,1965.000000,0.000000,0.000000,0.000000,218.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,70.000000,9430.000000,6.000000,5.000000,1973.000000,1993.000000,0.000000,370.000000,0.000000,465.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,80.000000,11526.000000,7.000000,6.000000,2000.000000,2004.000000,162.000000,734.000000,0.000000,801.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,2288.000000,1526.000000,2336.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### Création de X et y
**Tâche : Le label ou variable cible que nous essayons de prédire est la colonne SalePrice. Séparons donc les données en Features X et Label y**.

In [ ]:
X = df.drop('SalePrice', axis=1)
y = df['SalePrice']

In [ ]:
y

0       215000
1       105000
2       172000
3       244000
4       189900
         ...
2920    142500
2921    131000
2922    132000
2923    170000
2924    188000
Name: SalePrice, Length: 2925, dtype: int64

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2925 entries, 0 to 2924
Columns: 273 entries, Lot Frontage to Sale Condition_Partial
dtypes: float64(11), int64(262)
memory usage: 6.1 MB

### Fractionnement Entraînement Test 
**Tâche : Utilisons scikit-learn pour séparer X et y en un ensemble d'entraînement et un ensemble de test. Comme nous utiliserons plus tard une stratégie de recherche par grille (grid search), fixons donc notre proportion de test à 10 % pour obtenir le plus de données d'entraînement et fixons le random_state=101.**

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=101)

### Mise à l'échelle des données
**Tâche : Les features de l'ensemble de données ont une variété d'échelles et d'unités. Pour une performance de régression optimale, mettons à l'échelle les Features X. Prenons note de ce que nous utilisons pour .fit() et de ce que nous utilisons pour .transform()**.

In [ ]:
from sklearn.preprocessing import StandardScaler

# On adapte le scaler aux données d'entraînement
scaler = StandardScaler()
scaler.fit(X_train)

# On met à l'échelle les données d'entrainement et de test
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

### Modèle
**Tâche : Nous allons utiliser un modèle Elastic Net. Créons une instance du modèle ElasticNet par défaut avec scikit-learn**.

In [ ]:
from sklearn.linear_model import ElasticNet

In [ ]:
default_elastic_model = ElasticNet(max_iter=10000)

**Tâche : Le modèle Elastic Net a deux paramètres principaux, alpha et le ratio L1 (l1_ratio). Créons un dictionnaire de grille de paramètres des valeurs pour l'Elastic Net. N'hésitez pas à jouer avec ces valeurs, gardez à l'esprit qu'elles peuvent ne pas correspondre exactement aux choix de la solution**.

In [ ]:
grid_params = {'alpha': [0.1, 1, 5, 10, 50, 100], 'l1_ratio': [.1, .5, .7, .9, .95, .99, 1]}

**Tâche : À l'aide de scikit-learn, créons un objet GridSearchCV et exécutons un Grid Search pour les meilleurs paramètres de notre modèle en fonction de nos données d'entraînement mises à l'échelle. [Au cas où vous seriez curieux de connaître les avertissements que vous pourriez recevoir pour certaines combinaisons de paramètres](https://stackoverflow.com/questions/20681864/lasso-on-sklearn-does-not-converge)**

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
grid_model = GridSearchCV(default_elastic_model, grid_params, scoring='neg_mean_squared_error', cv=5, verbose=1)

In [ ]:
grid_model.fit(X_train, y_train)

Fitting 5 folds for each of 42 candidates, totalling 210 fits

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.635e+10, tolerance: 1.355e+09
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 7.907e+10, tolerance: 1.308e+09
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.810e+10, tolerance: 1.415e+09
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.078e+10, tolerance: 1.438e+09
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.763e+10, tolerance: 1.346e+09
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 8.367e+09, tolerance: 1.355e+09
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.153e+10, tolerance: 1.308e+09
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.019e+10, tolerance: 1.415e+09
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.873e+09, tolerance: 1.438e+09
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive

GridSearchCV(cv=5, estimator=ElasticNet(max_iter=10000),
             param_grid={'alpha': [0.1, 1, 5, 10, 50, 100],
                         'l1_ratio': [0.1, 0.5, 0.7, 0.9, 0.95, 0.99, 1]},
             scoring='neg_mean_squared_error', verbose=1)

**Tâche : Affichons la meilleure combinaison de paramètres pour notre modèle**.

In [ ]:
grid_model.best_params_

{'alpha': 100, 'l1_ratio': 1}

### Évaluation du modèle
**Tâche : Évaluons les performances de notre modèle sur les 10% de données non vues auparavant (ensemble de test mis à l'échelle). Dans le notebook des solutions, ils ont obtenu une MAE de 14195 $\$$ et une RMSE de 20558 $\$$**.

In [ ]:
# Pour ce faire, nous allons évaluer le modèle en faisant la prédiction avec les meilleurs paramètres
test_pred = grid_model.predict(X_test)

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [ ]:
MAE = mean_absolute_error(y_test, test_pred)
MSE = mean_squared_error(y_test, test_pred)
RMSE = np.sqrt(MSE)

In [ ]:
MAE

14195.354900562172

In [ ]:
RMSE

20558.50856689317

In [ ]:
np.mean(y)

180815.53743589742

## Comme notre recherche par grille nous a pu trouver des meilleurs paramètres à partir de ce qu'on a fourni comme paramètre.

Voyons si c'est necéssaire de continuer avec toutes ses features énormes.

**Note**: les paramètres retournés nous montrent que le meilleur modèle à utiliser est Lasso

In [ ]:
from sklearn.linear_model import Lasso

In [ ]:
model = Lasso(alpha=100)

In [ ]:
model.fit(X_train, y_train)

Lasso(alpha=100)

In [ ]:
coef_not_import = pd.DataFrame(model.coef_)
coef_not_import

                0
0      759.577749
1     4926.879085
2    10195.222596
3     6097.317845
4    11536.509138
..            ...
268    862.891136
269    491.382722
270      0.000000
271   2298.675410
272    698.293121

[273 rows x 1 columns]

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
mean_absolute_error(y_test, y_pred)

14195.354900562172

In [ ]:
np.sqrt(mean_squared_error(y_test, y_pred))

20558.50856689317